@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  font-display: swap;
  src: url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2");
  font-weight: 600;
  font-style: normal;
}

body {
  font-family: "Montserrat";
  background-color: #F3F2FF;
  font-size: 20px;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 335px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}

p {
  color: #696E75;
  line-height: 36px;
  font-size: 18px;
}

h1 {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 0;
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

a:hover {
  text-decoration: underline;
}

.header {
  position: relative;
  display: block;
  text-align: right;
}

.header .logo {
  position: absolute;
  left: 0;
  top: 0;
  max-width: 60px;
}

.header .contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 10px;
}

.header .contacts > a {
  margin: auto;
  width: 100%;
  line-height: 40px;
}

.header .contacts img {
  margin: 0 10px -3px 0;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 60px;
}

.main .text-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.main .app-links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 15px auto 60px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 325px;
  width: 100%;
}

.main .app-links .text {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 30px;
  font-weight: 600;
  color: #696E75;
}

.main .app-links > * {
  margin: 0;
}

.main .text {
  max-width: 780px;
  padding-right: 0;
}

.main .phone {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  width: 100%;
  margin: 0 auto;
}

.workout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 60px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.workout .text-row {
  width: 100%;
}

.workout .phones {
  margin-top: 30px;
  padding-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.workout .phones :is(.phone-1, .phone-2) {
  width: 100%;
}

.workout .phone-2 {
  margin-top: -60px;
}

.benefits {
  margin-top: 60px;
}

.benefits .phones {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 40px;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.benefits .phones :is(.phone-1, .phone-2) {
  max-width: 160px;
}

.congratulations {
  margin-top: 60px;
  text-align: center;
}

.congratulations .phone {
  width: 100%;
}

.congratulations p {
  max-width: 230px;
  margin: 0 auto 40px;
}

.footer {
  text-align: center;
  margin-top: 60px;
}

.footer p {
  margin-bottom: 0px;
}

@media screen and (min-width: 1024px) {
  .container {
    padding-top: 70px;
    max-width: 884px;
  }

  h1 {
    font-size: 40px;
  }

  .header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }

  .header .logo {
    position: inherit;
    max-width: 100%;
  }

  .main {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }

  .main .text-row {
    -webkit-box-flex: 1;
        -ms-flex: 1;
            flex: 1;
    padding-right: 20px;
  }

  .workout .text {
    max-width: 560px;
  }

  .workout .text-2 {
    max-width: 510px;
  }

  .workout .phones {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
    padding-top: 30px;
  }

  .workout .phones .phone-1 {
    margin-right: 20px;
  }

  .workout .phones .phone-2 {
    margin-left: 20px;
  }

  .workout .phone-2 {
    margin-top: -140px;
  }

  .benefits .text {
    max-width: 545px;
  }

  .benefits .phones {
    margin-top: 70px;
  }

  .benefits .phones :is(.phone-1, .phone-2) {
    max-width: 420px;
  }

  .congratulations .phone {
    max-width: 570px;
    margin-top: 60px;
  }

  .congratulations p {
    max-width: 340px;
  }
}

@media screen and (min-width: 1280px) {
  .container {
    max-width: 1080px;
  }

  p {
    font-size: 20px;
  }

  h1 {
    font-size: 50px;
  }

  .main .text-row {
    padding-right: 115px;
  }

  .main .app-links {
    margin-left: 95px;
  }

  .workout {
    margin-top: 180px;
  }

  .workout .text {
    max-width: 615px;
  }

  .workout .text-2 {
    max-width: 100%;
  }

  .workout .phones .phone-1 {
    margin-right: 40px;
  }

  .workout .phones .phone-2 {
    margin-left: 40px;
  }

  .benefits {
    margin-top: 180px;
  }

  .benefits .text {
    max-width: 615px;
  }

  .benefits .phones :is(.phone-1, .phone-2) {
    max-width: 510px;
  }

  .congratulations {
    margin-top: 180px;
  }

  .footer {
    margin-top: 180px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    max-width: 1080px;
  }

  .header .contacts {
    display: block;
  }

  .header .contacts > a {
    margin-left: 30px;
  }
}

@media screen and (min-width: 1920px) {
  .container {
    max-width: 1400px;
  }

  h1 {
    font-size: 60px;
  }

  .workout .phones {
    padding-top: 80px;
  }

  .workout .phones :is(.phone-1, .phone-2) {
    max-width: 465px;
  }

  .benefits .phones {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .benefits .phones :is(.phone-1, .phone-2) {
    max-width: 100%;
    padding: 0 40px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1920px) {
  .main .phone {
    max-width: 410px;
  }
}

@media screen and (min-width: 1024px) and (max-width: 1280px) {
  .workout .phones :is(.phone-1, .phone-2) {
    max-width: 300px;
  }
}