@mixin font($font_name, $file_name, $weight, $style) {
  @font-face {
  font-family: $font_name;
  font-display: swap;
  src: url("../fonts/#{$file_name}.woff") format("woff"), url("../fonts/#{$file_name}.woff2") format("woff2");
  font-weight: #{$weight};
  font-style: #{$style};
  }
}

@import 'fonts';

$m-content-small: 40px;
$m-section-small: 60px;
$m-section-medium: 180px;

body {
  font-family: "Montserrat";
  background-color: #F3F2FF;
  font-size: 20px;
  overflow-x: hidden;
  margin: 0;
}

.container {
  max-width: 335px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;

  @media screen and (min-width: 1024px) {
    padding-top: 70px;
    max-width: 884px;
  }

  @media screen and (min-width: 1280px) {
    max-width: 1080px;
  }

  @media screen and (min-width: 1440px) {
    max-width: 1080px;
  }

  @media screen and (min-width: 1920px) {
    max-width: 1400px;
  }
}

p {
  color: #696E75;
  line-height: 36px;
  font-size: 18px;

  @media screen and (min-width: 1280px) {
    font-size: 20px;
  }
}

h1 {
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 0;

  @media screen and (min-width: 1024px) {
    font-size: 40px;
  }

  @media screen and (min-width: 1280px) {
    font-size: 50px;
  }

  @media screen and (min-width: 1920px) {
    font-size: 60px;
  }
}

h2 {
  font-size: 30px;
  font-weight: 600;
}

a {
  text-decoration: none;
  color: black;
  font-weight: 600;

  &:hover {
    text-decoration: underline;
  }
}

// --------HEADER
.header {
  position: relative;
  display: block;
  text-align: right;

  @media screen and (min-width: 1024px) {
    display: flex;
    justify-content: space-between;
  }

  .logo {
    position: absolute;
    left: 0;
    top: 0;
    max-width: 60px;
  
    @media screen and (min-width: 1024px) {
      position: inherit;
      max-width: 100%;
    }
  }

  .contacts {
    display: flex;
    flex-direction: column;
    padding-top: 10px;

    @media screen and (min-width: 1440px) {
      display: block;
    }

    & > a {
      margin: auto;
      width: 100%;
      line-height: 40px;

      @media screen and (min-width: 1440px) {
        margin-left: 30px;
      }
    }

    img {
      margin: 0 10px -3px 0;
    }
  }
}

// --------MAIN
.main {
  display: flex;
  flex-wrap: wrap;
  margin-top: $m-section-small;

  @media screen and (min-width: 1024px) {
    flex-wrap: nowrap;
  }

  .text-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    flex-wrap: wrap;

    @media screen and (min-width: 1024px) {
      flex: 1;
      padding-right: 20px;
    }

    @media screen and (min-width: 1280px) {
      padding-right: 115px;
    }
  }

  .app-links {
    display: flex;
    margin: 15px auto $m-section-small;
    justify-content: space-between;
    max-width: 325px;
    width: 100%;

    @media screen and (min-width: 1280px) {
      margin-left: 95px;
    }

    .text {
      display: inline-flex;
      align-items: center;
      font-size: 30px;
      font-weight: 600;
      color: #696E75;
    }

    & > * {
      margin: 0;
    }
  }

  .text {
    max-width: 780px;
    padding-right: 0;
  }

  .phone {
    flex: 1;
    width: 100%;
    margin: 0 auto;

    @media screen and (min-width: 1024px) and (max-width: 1920px) {
      max-width: 410px;
    }
  }
}

// --------WOROUT
.workout {
  display: flex;
  margin-top: $m-section-small;
  flex-wrap: wrap;

  @media screen and (min-width: 1280px) {
    margin-top: $m-section-medium;
  }

  .text-row {
    width: 100%;
  }

  .text {
    @media screen and (min-width: 1024px) {
      max-width: 560px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 615px;
    }
  }

  .text-2 {
    @media screen and (min-width: 1024px) {
      max-width: 510px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 100%;
    }
  }

  .phones {
    margin-top: 30px;
    padding-top: 60px;
    display: flex;

    @media screen and (min-width: 1024px) {
      justify-content: flex-end;
      padding-top: 30px;
    }

    @media screen and (min-width: 1920px) {
      padding-top: 80px;
    }

    :is(.phone-1, .phone-2) {
      width: 100%;

      @media screen and (min-width: 1024px) and (max-width: 1280px) {
        max-width: 300px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 465px;
      }
    }

    @media screen and (min-width: 1024px) {
      .phone-1 {
        margin-right: 20px;
      }

      .phone-2 {
        margin-left: 20px;
      }
    }

    @media screen and (min-width: 1280px) {
      .phone-1 {
        margin-right: 40px;
      }

      .phone-2 {
        margin-left: 40px;
      }
    }
  }

  .phone-2 {
    margin-top: -60px;

    @media screen and (min-width: 1024px) {
      margin-top: -140px;
    }
  }
}

// --------BENEFITS
.benefits {
  margin-top: $m-section-small;

  @media screen and (min-width: 1280px) {
    margin-top: $m-section-medium;
  }

  .text {
    @media screen and (min-width: 1024px) {
      max-width: 545px;
    }

    @media screen and (min-width: 1280px) {
      max-width: 615px;
    }
  }

  .phones {
    display: flex;
    margin-top: $m-content-small;
    text-align: center;
    justify-content: space-between;

    @media screen and (min-width: 1024px) {
      margin-top: 70px;
    }

    @media screen and (min-width: 1920px) {
      justify-content: center;
    }

    :is(.phone-1, .phone-2) {
      max-width: 160px;

      @media screen and (min-width: 1024px) {
        max-width: 420px;
      }

      @media screen and (min-width: 1280px) {
        max-width: 510px;
      }

      @media screen and (min-width: 1920px) {
        max-width: 100%;
        padding: 0 40px;
      }
    } 
  }
}

// --------CONGRATULATIONS
.congratulations {
  margin-top: $m-section-small;
  text-align: center;

  @media screen and (min-width: 1280px) {
    margin-top: $m-section-medium;
  }

  .phone {
    width: 100%;

    @media screen and (min-width: 1024px) {
      max-width: 570px;
      margin-top: 60px;
    }
  }

  p {
    max-width: 230px;

    @media screen and (min-width: 1024px) {
      max-width: 340px;
    }

    margin: 0 auto $m-content-small;
  }
}

// --------FOOTER
.footer {
  text-align: center;
  margin-top: $m-section-small;

  @media screen and (min-width: 1280px) {
    margin-top: $m-section-medium;
  }

  p {
    margin-bottom: 0px;
  }
}